/*Initial setup for galaxy fold*/

@font-face {
  font-family: "MOTO VERSE";
  src: url("path/MotoVerseRegular-516oB.ttf") format("truetype");
}

/*Eliminate any extra margins/padding when initially building site.*/
* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  background-color: #5a3181;
}

.wrapper {
  margin-top: 10px;
  width: 100%;
  color: white;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  position: absolute;
}

label {
  display: block;
  text-align: left;
  margin-left: 62px;
}

h1 {
  padding-top: 35px;
  padding-bottom: 50px;
}

h6 {
  font-family: "MOTO VERSE", sans-serif;
  margin: auto;
}

input {
  margin-top: 8px;
  width: 50vw;
  height: 25px;
  margin-bottom: 15px;
}

button {
  width: 55vw;
  height: 35px;
  margin-bottom: 20px;
  font-weight: bold;
}

button:hover {
  background-color: #4fffd3;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
  margin-bottom: 20px;
}

.parallelogram {
  width: 80vw;
  height: 50px;
  line-height: 50px;
  transform: skew(-20deg);
  background: rgba(0, 0, 0, 0.349);
  margin: auto;
  color: white;
  text-align: center;
}

h4 {
  font-family: "MOTO VERSE", sans-serif;
  color: #fa8334;
  padding-bottom: 10px;
  align-self: center;
  text-align: center;
  padding-bottom: 20px;
}

footer {
  color: white;
  font-size: 12px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  background-color: #744d99;
  padding-top: 20px;
}

p {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Copyright {
  background-color: #38204e;
  height: 50px;
  line-height: 50px;
}

/*Pixel 5*/
@media only screen and (min-width: 393px) {
  label {
    margin-left: 85px;
    font-size: 20px;
  }

  h1 {
    padding-top: 45px;
    padding-bottom: 75px;
  }

  input {
    width: 51vw;
  }

  .parallelogram {
    margin-top: 13px;
    height: 90px;
    line-height: 90px;
    font-size: 30px;
  }

  footer {
    font-size: 18px;
  }

  h1 {
    font-size: 35px;
  }

  h6 {
    font-size: 18px;
  }
}

/*iphone SE*/
@media only screen and (min-width: 375px) {
  label {
    margin-left: 85px;
    font-size: 20px;
  }

  h1 {
    padding-top: 45px;
    padding-bottom: 75px;
  }

  footer {
    font-size: 14px;
  }
}

/*samsung galazy s8+*/
@media only screen and (min-width: 360px) {
  label {
    margin-left: 85px;
    font-size: 14px;
  }

  h1 {
    padding-top: 45px;
    padding-bottom: 75px;
  }

  .parallelogram {
    height: 90px;
    line-height: 90px;
  }
}

/*ipad air*/
@media only screen and (min-width: 820px) {
  label {
    display: inline-block;
    margin: 0 auto;
    padding-right: 10px;
    font-size: 24px;
  }

  input {
    width: 28vw;
    height: 35px;
    margin-bottom: 40px;
  }

  button {
    width: 30vw;
    height: 50px;
    margin-bottom: 70px;
  }

  button:hover {
    width: 30vw;
    height: 50px;
    margin-bottom: 70px;
  }

  h1 {
    font-size: 72px;
    padding-top: 80px;
    padding-bottom: 200px;
  }

  .parallelogram {
    height: 90px;
    line-height: 90px;
  }

  footer {
    background-color: #744d99;
    padding-top: 20px;
  }
}

/*ipad mini*/
@media only screen and (min-width: 768px) {
  label {
    display: inline-block;
    margin: 0 auto;
    padding-right: 10px;
    font-size: 24px;
  }

  input {
    width: 28vw;
    height: 35px;
    margin-bottom: 20px;
  }

  button {
    width: 30vw;
    height: 50px;
    margin-bottom: 40px;
  }

  button:hover {
    width: 30vw;
    height: 50px;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 72px;
    padding-top: 80px;
    padding-bottom: 150px;
  }

  .parallelogram {
    height: 90px;
    line-height: 90px;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    padding-bottom: 30px;
  }
}
